/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body  {
  background-image: url("./assets/images/background_img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-position: right;
}
